html,body,div {
    padding:0px;
    margin:0px;
    font-size:1em;
}

h1 {
    padding-top:0px;
}

#lofi_nav {
    display:none;
}

div.wrapper {
    width:600px;
}

div#content {
    width:550px;
    float:none;
    margin:10px auto;
}

div#diagramm {
    width:500px;
    height:auto;
    float:none;
    margin:10px auto;
}
#diagramm_chart img {
    width:500px;
}

table.diagramm_data_table {
    font-size:0.95em;
}